<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="D:\Log\KBZ.Web.Log_%date{ddMMyyyy}.log" />
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Date" />
    <datePattern value="dd-MM-yyyy" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="Header" value=""/>
      <param name="Footer" value=""/>
      <param name="ConversionPattern" value="%d [%t] %-5p %m%n"/>
    </layout>
  </appender>
  <root>
    <!--LogLevel: OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <level value="ALL"/>
    <appender-ref ref="LogFileAppender"/>
  </root>
</log4net>
