<html>
<head>
    <script src="~/Scripts/Library/jquery-2.1.0.min.js"></script>
</head>
<body>
    <div>
        <label>URL</label><input type="text" id="txtURL" /><br />
        <label>Message</label><label style="color:green;" id="lblMessage" /><br />
    </div>
    <div>
        <table class="table">
            <tr>
                <th>SL</th>
                <th></th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Select</th>
            </tr>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><img src="../../Content/Images/banner1.png" alt="" /></td>
                    <td>Mouse</td>
                    <td>Quantity</td>
                    <td>34</td>
                    <td><input type="checkbox" class="selectProduct" /> </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img src="../../Content/Images/banner1.png" alt="" /></td>
                    <td>Mouse</td>
                    <td>Quantity</td>
                    <td>3</td>
                    <td><input type="checkbox" class="selectProduct" /> </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img src="../../Content/Images/banner1.png" alt="" /></td>
                    <td>Mouse</td>
                    <td>Quantity</td>
                    <td>45</td>
                    <td><input type="checkbox" class="selectProduct" /> </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img src="../../Content/Images/banner1.png" alt="" /></td>
                    <td>Mouse</td>
                    <td>Quantity</td>
                    <td>5</td>
                    <td><input type="checkbox" class="selectProduct" /> </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img src="../../Content/Images/banner1.png" alt="" /></td>
                    <td>Mouse</td>
                    <td>Quantity</td>
                    <td>6</td>
                    <td><input type="checkbox" class="selectProduct" /> </td>
                </tr>
            </tbody>


        </table>
    </div>
    <div>
        <label>Total Value:</label><input id="totalValue" type="text" disabled="disabled" />
    </div>
</body>


</html>
<script>
    var total = 0;
    $(".selectProduct").each(function () {
        total = total + $(this).siblings('td').val();
    });
    var orderInfo = {
        merchantId: "12234",
        orderId: "3334",
        TotalPrice: 0,
        merchantKey: "4#$%^&^4444445555555555555&%$%&**22",
        NoOfItems: 0,
        ExpectedSettlementDate:''


    };
    $("button").on("click",
        function () {
            $.ajax({
                method:'POST',
                url: $("#txtURL").val(),
                data:orderInfo,
                async:false,
                success:function(data)
                {
                    //alert('data sent');

                    jQuery('#successModalText').text('data sent');

                    jQuery('#successModal').modal('show');
                }

            }
                );
        }
        );
</script>