
@{
    ViewBag.Title = "ForgotPasswordPost";
}


<div id="middle" class="login_body_bg0">
    <div class="container content" style="box-shadow:none; background:none;">

        <div style="margin:auto; text-align:center;min-height:450px;">

            <div id="message" style="display:inline-block;width:100%;text-align:center;margin-top:25px;">
                <label id="lblMessage" style="display: inline-block; color: green; font-family: Verdana; font-size: 18px; align-content: center;
             align-self: center; text-align: center;">&nbsp;&nbsp;&nbsp;</label>
            </div>
            <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
                <p style="position: absolute; top: 30%; left: 45%; color: White;">
                    Loading, please wait...<img src="../Content/images/ajax-loading.gif">
                </p>
            </div>
            <div style="padding-top:50px; float:left;width:auto">
                <div style="float:left;">
                    <label>An email has been sent.please check your mailbox.</label>
                </div>
                <div style="float:left;font-size:medium; padding-left:10px;">
                    @Html.ActionLink("<<Back", "Login", "Account")
                </div>
            </div>
          
          
        </div>
    </div>
</div>

