@{
    Layout = null;
}

<html>
<head>
    <title>Welcome to GITS.com</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    @Styles.Render("~/Content/assets")
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/MyraidPro.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/Library/jquery-2.1.0.js"></script>
    <script src="~/Scripts/Library/angular.js"></script>
    <script src="~/Scripts/Client/wellcomePageController.js"></script>
    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" />
</head>
<body style="background-color: #f6f6f6 !important;" class="layout-boxed" ng-app="welComePage">
    <form name="forgotPassword" class="form-horizontal" novalidate>
        <div style="display:inline;align-self:center;align-content:center;" class="layout-boxed-body00" ng-controller="ForgotPasswordController">
            <br />
            <br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="fa fa-00  icomoon-info"></span>
                    <span style="font-size: medium; color: #243972;">ForgotPassword</span>

                    <div class="panel-tools">

                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <label class="col-sm-3 control-label">
                                    User Name :<span class="mandatory-star">*</span>
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="UserName" ng-model="generatePasswordVM.UserName" required ng-minlength="8" ng-maxlength="20" alphanumeric-only="alphanumeric-only"
                                           ng-class="{ 'error-mark' : (forgotPassword.UserName.$dirty && forgotPassword.UserName.$error.required) || (forgotPassword.UserName.$error.required && submitted)}" />
                                    <div validation-message ng-show="(forgotPassword.UserName.$dirty && forgotPassword.UserName.$error.required) || (forgotPassword.UserName.$error.required && submitted)" class="error">
                                        Username is required
                                    </div>

                                    <div validation-message ng-show="(forgotPassword.UserName.$dirty && forgotPassword.UserName.$error.minlength) || (forgotPassword.UserName.$error.minlength && submitted)" class="error">
                                        Username is less than 8 character
                                    </div>

                                    <div validation-message ng-show="(forgotPassword.UserName.$dirty && forgotPassword.UserName.$error.maxlength) || (forgotPassword.UserName.$error.maxlength && submitted)" class="error">
                                        Username should not exceed 20 characters
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <button type="button" class="btn btn-primary" ng-click="submitForm()"><span class="icomoon-arrow-right-6"></span>  Start</button>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </form>
</body>
</html>
