
@{
    ViewBag.Title = "ResetPasswordPost";
}


<div class="main-content nomarginleft">

    <div class="container">

        <div class="page-header"><br/><br /><br />
            <h1>Your password has been reset successfully.</h1>
        </div>
        @*@Html.ActionLink("Back", "Login", "Account", new { @class = "btn btn-primary, icomoon-checkmark-circle-2 " })*@ 
        <br /><br />
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Login", "Account")'"><span class=" icomoon-backward-2"></span>Back</button>

    </div>
</div>