@{
    Layout = null;
}

<div class="main-content" style="margin:0;">
    <div class="container">
        <div class="page-header">
            <h1>Transaction Fee Information</h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="fa fa-00   icomoon-cart-5 " style="color:#19A326"></span>
                <span style="font-size:medium; color:#243972;">Transaction Fee Information</span>
                <div class="panel-tools hidden-700">
                    To enter new fee information go at
                    <a href="#/Administrator/Fee/TransactionFeeInformationDetails/0" ng-href="#/Administrator/Fee/TransactionFeeInformationDetails/0" class="btn">
                        <span class="icomoon-arrow-left-5"></span> Transaction Fee Setup
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <form name="bankForm" class="form-horizontal">
                    <div k-filterable="true" k-pageable="true" id="tblTransactionFeeInformationList" class="ra-section k-grid k-widget">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>