
@{
    ViewBag.Title = "customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>

<div id="test" style="border:1px solid">
    <p>Test asdf dsfds fsdfds fs </p>
    <a href="#">Math</a>
</div>