
@{
    ViewBag.Title = "ErrorPageNotFound";
}
<div class="main-content nomarginleft">
    <div class="container">

        <div class="col-sm-12">
            <br /><br />
            <div class="col-sm-6">
                <p class="access-denied-h1">Access Denied</p>
                <p class="access-denied-h3">You don't have permission to access on this page or directory</p>
            </div>
            <div class="col-sm-6"><br /><br />
                <p><span class="icomoon-blocked" style="color:#CCCCCC; font-size:111px;"></span></p>
            </div>
        </div>

    </div>
</div>

