<div class="navbar-content" style="position:fixed;" id="merchantMenu">
    <div class="main-navigation navbar-collapse collapse" id="merchantMenu">

        <br /><br />
        <ul class="main-navigation-menu">
            <li>
                <a ng-href="/#/Administrator/Admin/MerchantDetails/0">
                    <i class="icomoon-credit"></i>
                    <span class="title"> Profile</span>
                </a>

            </li>

            <li>
                <a ng-href="/#/Client/Merchant/PendingOrders/0">
                    <i class="icomoon-checkmark-circle"></i>
                    <span class="title">Authorized Transaction</span>
                </a>
            </li>

            <li>
                <a ng-href="/#/Client/Merchant/SettledOrders/0">
                    <i class="icomoon-loop"></i>
                    <span class="title"> Settled Transaction </span>
                </a>
            </li>

            <li>
                <a ng-href="/#/Client/Merchant/VoidTransactions/0">
                    <i class="icomoon-cancel-circle-2"></i>
                    <span class="title">Voided Transaction</span>
                </a>
            </li>
            
        </ul>

    </div>
</div>



