@{
    Layout = null;
}
<link href="~/Content/left-mnu.css" rel="stylesheet" />
<link href="~/Content/icomoon.css" rel="stylesheet" />

<div class="col-md-12 top_mnu_bg" style="width: 100%; height:100%; margin:auto;">

    <div class="container">
        <ul class="page-sidebar-menu">
            <li><a ng-href="/#/Administrator/Bank/BankDashboard"><i class="icomoon-grid-2"></i>Customer</a></li>
            <li><a ng-href="/#/Administrator/Admin/ActiveCustomer"><i class="icomoon-list-2"></i>Active Customer</a></li>
            <li><a ng-href="/#/Administrator/Admin/InActiveCustomer"><i class="icomoon-list-3"></i>Inactive Customer</a></li>
            <li><a ng-href="/#/Administrator/Bank/TransactionList"><i class="icomoon-lock-3"></i>Transaction List</a></li>
        </ul>
    </div>
</div>
