@{
   Layout = null;
}
<script>
   // alert(JSON.stringify(bc));
</script>
<div class="main-content nomarginleft">
    <div class="container">
        <div class="page-header">
            <h1 class="text-bold">Branch Add</h1>
        </div>
        <div class="row">
            <br>
            <form class="form-horizontal" name="branchCreateForm" novalidate>
                @Html.AntiForgeryToken()
                <div class="col-sm-12" style="padding:0; margin:0">
                    <div class="col-sm-12" id="editPanel">
                        <div validation-summary ng-show="showValidation">
                        </div>
                        <input type="hidden" id="RequestVerificationKey" value="" />
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span class="fa fa-00 icomoon-bars"></span>
                                <span style="font-size:medium; color:#243972;">Branch Details Information</span>
                            </div>

                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-6 input-padding-bottom">
                                            <label class="control-label col-sm-3">
                                                Branch Name:
                                            </label>
                                            <div class="col-sm-9">

                                                <input type="text" class="form-control" ng-model="bc.BranchName" name="title" required maxlength="20" />
                                                <div validation-message ng-show="branchCreateForm.BranchName.$error.required && submitted" class="error">
                                                    BranchName is required
                                                </div>
                                                <div validation-message ng-show="bc.BranchName.$error.maxlength && submitted" class="error">
                                                    BranchName must be within 20 characters
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 input-padding-bottom">
                                            <label class="control-label col-sm-3">
                                                Branch Code:
                                            </label>
                                            <div class="col-sm-9">
                                                <input type="text" ng-model="bc.BranchCode" name="BranchCode" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 input-padding-bottom">
                                            <label class="control-label col-sm-3">
                                                Printer Location
                                            </label> 
                                            <div class="col-sm-9">
                                                <select name="PrintingLocationId" class="form-control" ng-model="bc.PrintingLocationId" 
                                                        ng-options="a.Id as a.PrinterLocation for a in PrinterLocationList">
                                                   
                                                    <option value="">-- Select --</option>
                                                    
                                                </select>
                                                <div validation-message ng-show="branchCreateForm.datatype.$error.required && submitted" class="error">
                                                    Printer Location selection is required
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 input-padding-bottom">
                                            <label class="control-label col-sm-3">
                                                Total Number of Leafs Printed:
                                            </label>
                                            <div class="col-sm-9">
                                                <label ng-model="bc.TotalNumberOfLeafsPrinted" name="TotalNumberOfLeafsPrinted" class="form-control" />

                                            </div>
                                        </div>
                                        <div class="col-sm-6 input-padding-bottom">
                                            <label class="control-label col-sm-3">
                                                Total Number of Cheque Book Printed:
                                            </label>
                                            <div class="col-sm-9">
                                                <input type="text" ng-model="bc.TotalNumberOfBooks" name="TotalNumberOfBooks" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                    </div>
                                </div>
                            <div class="panel-body center bg-info padding-bottom20 padding-top20 ">
                                <button type="button" class="btn btn-primary" ng-click="saveBranchForm(bc)"><span class=" icomoon-search-2"></span>
                                Add Branch</button>
                                <button type="button" class="btn btn-primary" ng-click="clear()"><span class=" icomoon-cancel-circle"></span> Clear</button>
                            </div>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>




    

            
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
