

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
   
    <a href="/#/Administrator/Branch/BranchCreate">Add New</a>
</p>

    <div k-filterable="false" k-pageable="false" id="tblBranchData" class="ra-section k-grid k-widget"></div>